<!-- <ion-view title="Switching Photon via AngularJS-Service and REST" id="page1"> -->
<ion-view title="Switching Photon via AngularJS and REST" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button ng-click="clickOff()" id="switchingPhoton-button3" style="color:#FFFFFF;" class="button button-dark  button-block icon-left ion-ios-lightbulb-outline">off</button>
            <button ng-click="clickOn()" id="switchingPhoton-button5" style="color:#FFFFFF;" class="button button-positive  button-block icon-right ion-ios-lightbulb">on</button>
        </div>
        <!-- <div ng-controller="srcImage" style="text-align:center;"> -->
        <!-- <div ng-show="ledGet()" style="text-align:center;"> -->
        <div style="text-align:center;">    
            <!-- <img ng-src={{source}} width="auto" height="auto"/> -->
            <img src={{source}} width="auto" height="auto"/>
        </div>
    </ion-content>
</ion-view>